#iframe-brochure {
  width: 100%;
  height: 800px;
}

.image-gallery a {
  cursor: pointer;
}

.image-gallery img {
  height: 180px;
  padding: 15px 0;
  width: 100%;
  object-fit: contain;
}

.foot .brand-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.programs-paragraphs {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 10px;
  font-size: 14px;
}

.blog-masonry .item .grid-entry .bor {
  background: #32c8de;
}

.carousel-inner .item img {
  height: 400px;
  display: block;
  margin: auto;
}
