#iframe-brochure {
  width: 100%;
  height: 800px;
}

.image-gallery a {
  max-width: 180px;
  max-height: 180px;
  cursor: pointer;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

.foot .brand-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.programs-paragraphs {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 10px;
  font-size: 14px;
}
