<!-- Foot Starts -->

<div class="foot">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;Sobre nosotros</h5>
                    <p>Fundación Mamá Sena es una institución sin fines de lucro que se propone la recomposición de la sociedad a través de procesos de reflexión, capacitación y acción comunitaria para el crecimiento en valores humanos.</p>

                    <div class="brand-bg">
                        <!-- Social Media Icons -->
                        <a href="https://www.facebook.com/fundacionmamasena" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
                        <a href="https://www.instagram.com/fundacionmamasena" class="instagram"><i class="fa fa-instagram circle-3"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
                        <a href="#" class="youtube"><i class="fa fa-youtube circle-3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Noticias Recientes</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content">
                        <ul class="list-unstyled">
                            <!-- Link -->
                            <!--
                            <li><a href="#">Denocing Sapientes Contain</a>
                            </li>
                            <li><a href="#">Dignissim Electronic Typeset</a>
                            </li>
                            <li><a href="#">Laborum Desktop Publishing</a>
                            </li>
                            <li><a href="#">Quibus PageMaker Including</a>
                            </li>
                            <li><a href="#">Denocing Sapientes Contain</a>
                            </li>
-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Imagenes</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content">
                        <!-- Foot Recent Image -->
                        <div class="foot-recent-img">
                            <a href="https://www.facebook.com/fundacionmamasena/photos/pb.875666845807659.-2207520000.1415577613./897422043632139/?type=3&theater" class="lightbox">
                                <img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10365788_897422043632139_6384792025734694251_n.jpg?oh=36ed03315254ade16cb8ec270c8fee6e&oe=54E807E5" alt="Sacerdote jesuita Mario Serrano, durante la homilía" class="img-responsive img-thumbnail" />
                            </a>
                            <a href="https://www.facebook.com/fundacionmamasena/photos/pb.875666845807659.-2207520000.1415577613./895065380534472/?type=3&theater" class="lightbox">
                                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10406432_895065380534472_2788562124493997764_n.jpg?oh=bc2c73726491a3955bcc704695ae1989&oe=54EC4E32&__gda__=1424295684_bd8fd79d4237bea6169c0c7b9d94a328" alt="La Fundación Mamá Sena quedó formalmente inaugurada el pasado sábado primero de noviembre 2014" class="img-responsive img-thumbnail" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contáctenos</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content address">
                        <!-- Heading -->
                        <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp; Fundación Mamá Sena</h6>
                        <!-- Paragraph -->
                        <p class="add">
                            Calle Paco Saviñón No. 64, Fantino
                            <br />Sánchez Ramírez, R.D.</p>
                        <p class="tel"> <i class="fa fa-phone"></i>Digna Adames, Tel: (809)-(855)-2623</p>
                        <p class="tel"> <i class="fa fa-phone"></i>María Adames, Tel: (809)-(610)-2595</p>
                        <p class="mail"><i class="fa fa-envelope"></i><a href="mailto:fundacionmamasena@gmail.com">fundacionmamasena@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Foot Ends -->

<!-- Footer Starts -->

<footer>
    <!-- Container -->
    <div class="container">
        <!-- Footer Content -->
        <!-- Paragraph -->
        <p class="pull-left">Copyright &copy; 2014 - <a href="#">Fundación Mamá Sena</a>, developed by <a href="mailto:willyovalle16+fms@gmail.com">Willy Ovalle</a>
        </p>
        <ul class="list-inline pull-right">
            <!-- List -->
            <li><a href="/">Inicio</a>
            </li>
            <li><a href="/about">Sobre Nosotros</a>
            </li>
            <li><a href="# ">Programas</a>
            </li>
            <li><a href="# ">Galería</a>
            </li>
            <li><a href="# ">Noticias</a>
            </li>
            <li><a href="# ">Contactos</a>
            </li>
            <li><a href="# ">Preguntas Frecuentes</a>
            </li>
        </ul>
        <!-- Clearfix -->
        <div class="clearfix"></div>
    </div>
</footer>

<!-- Footer Ends -->


<!-- Outer Ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>