<div class="outer">
    <!-- Top bar starts -->
    <div class="top-bar">
        <div class="container">

            <!-- Contact starts -->
            <div class="tb-contact pull-left">
                <!-- Email -->
                <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:fundacionmamasena@gmail.com">fundacionmamasena@gmail.com</a>
            </div>
            <!-- Contact ends -->

            <!-- Social media starts -->
            <div class="tb-social pull-right hidden-xs">
                <div class="brand-bg text-right">
                    <!-- Brand Icons -->
                    <a href="https://www.facebook.com/fundacionmamasena" class="facebook"><i class="fa fa-facebook circle-2"></i></a>
                    <a href="https://www.instagram.com/fundacionmamasena" class="instagram"><i class="fa fa-instagram circle-2"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus circle-2"></i></a>
                    <a href="#" class="youtube"><i class="fa fa-youtube circle-2"></i></a>
                </div>
            </div>
            <!-- Social media ends -->

            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Top bar ends -->

    <!-- Header One Starts -->
    <div class="header-1">

        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <!-- Logo section -->
                    <div class="logo">
                        <h1><i class="fa fa-group fa-fw lblue"></i> Fundación Mamá Sena</a></h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation starts -->
        <div class="navigation">
            <div class="container">
                <!-- Menu outer container -->
                <div id="mgmenu1" class="mgmenu_container">
                    <ul class="mgmenu">
                        <!-- Responsive toggle button -->
                        <li class="mgmenu_button">Menu</li>
                        <!-- Navigation links -->
                        <li>
                            <a ui-sref="index" ng-class="{active: isActive('/')}">Inicio</a>
                        </li>
                        <li><a ui-sref="nosotros">Sobre Nosotros</a>
                        </li>
                        <li><a ui-sref="objetivos">Objetivos <i class="fa fa-angle-down "></i></a>
                            <!-- Dropdown menu -->
                            <div class="dropdown_container dropdown_2columns ">
                                <!-- Multi level dropdown menu -->
                                <ul class="dropdown_flyout ">
                                    <li><a ui-sref="mision">Misión</a>
                                    </li>
                                    <li><a ui-sref="vision">Visión</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a ui-sref="programas">Programas</a>
                        </li>
                        <li><a ui-sref="galeria">Galería</a>
                        </li>
                        <li><a ui-sref="noticias">Noticias</a>
                        </li>
                        <li><a ui-sref="contactos">Contactos</a>
                        </li>
                        <li><a ui-sref="preguntas">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Navigation ends -->
    </div>