<div ng-include="'views/shared/navbar.html'"></div>

<div class="contact-us-one">
    <div class="contact-map">
        <!-- Map Link -->
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=19.121651%2C-70.296830&key=AIzaSyDZSs8Zm9bI843HfnQq6bEgwBdoz2zowcM"></iframe>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <!-- Contact Item -->
            <div class="text-center">
                <!-- Contact No -->
                <div class="contact-item">
                    <!-- Icon -->
                    <i class="fa fa-phone bg-lblue circle-3"></i>
                    <!-- Heading -->
                    <h5>¡Contacto @ Santo Domingo!</h5>
                    <!-- Paragraph -->
                    <p>Digna María Adames Núñez (Sonia)
                        <br>Tel : 809-369-1309
                        <br>Cel : 809-855-2623
                    </p>
                </div>
                <!-- Contact Mail -->
                <div class="contact-item">
                    <i class="fa fa-envelope bg-green circle-3"></i>
                    <h5>¡Escríbenos!</h5>
                    <p>fundacionmamasena@gmail.com
                        <br>mariaelena087@hotmail.com
                        <br>digna.adames@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <!-- Contact Item -->
            <div class="text-center">

                <div class="contact-item">
                    <!-- Icon -->
                    <i class="fa fa-phone bg-lblue circle-3"></i>
                    <!-- Heading -->
                    <h5>¡Contacto @ Fantino!</h5>
                    <!-- Paragraph -->
                    <p>María Elena Adames Núñez (Indi)
                        <br>Tel : 809-574-8284
                        <br>Cel : 809-855-2623
                    </p>
                </div>
                <!-- Contact Address -->
                <div class="contact-item">
                    <i class="fa fa-building-o bg-red circle-3"></i>
                    <h5>¡Visítanos!</h5>
                    <p>Paco Saviñón #64,
                        <br>Fantino, Sanchez Ramírez
                        <br>República Dominicana
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="contact-item">
                <!-- Contact Form -->
                <div class="contact-form">
                    <h5>Formulario de contacto</h5>
                    <!-- Form -->
                    <form class="form" role="form">
                        <!-- Form Group -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="comments" rows="7" placeholder="Mensaje"></textarea>
                        </div>
                        <!-- Button -->
                        <button type="button" class="btn btn-red">Enviar</button>&nbsp;
                        <button type="button" class="btn btn-default">Borrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="contact-item">
                <!-- Social -->
                <div class="brand-bg">
                    <!-- Heading -->
                    <h5>Redes sociales</h5>
                    <!-- Order List -->
                    <ul class="list-unstyled">
                        <!-- Social Media Icons -->
                        <li><a href="#" class="facebook"><i class="fa fa-facebook circle-2"></i> Facebook</a>
                        </li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram circle-2"></i> Instagram</a>
                        </li>
                        <li><a href="#" class="google-plus"><i class="fa fa-google-plus circle-2"> </i> Google-plus</a>
                        </li>
                        <li><a href="#" class="youtube"><i class="fa fa-youtube circle-2"></i> Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/shared/footer.html'"></div>