<div ng-include="'views/shared/navbar.html'"></div>
<br>
<!-- CTA Eight Starts -->
<div class="cta-eight block">
    <!-- Container -->
    <div class="container">
        <!-- CTA Eight Content -->
        <div class="block-heading-three">
            <h3>Misión</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
        </div>
        <br>
        <div class="block-heading-three">
            <h3>Visión</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
        </div>
    </div>
</div>

<div ng-include="'views/shared/footer.html'"></div>