<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-user"></i> Sobre nosotros</h5>
          <p>{{ site.description }}</p>
          <div class="brand-bg">
            <!-- Social Media Icons -->
            <a
              href="https://www.facebook.com/fundacionmamasena"
              class="facebook"
              ><i class="fa fa-facebook circle-3"></i
            ></a>
            <a
              href="https://www.instagram.com/fundacionmamasena"
              class="instagram"
              ><i class="fa fa-instagram circle-3"></i
            ></a>
            <a href="#" class="youtube"
              ><i class="fa fa-youtube circle-3"></i
            ></a>
            <a href="/feed.xml" class="google-plus"
              ><i class="fa fa-rss circle-3"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-4"> -->
      <!-- Foot Item -->
      <!-- <div class="foot-item"> -->
      <!-- Heading -->
      <!-- <h5 class="bold"><i class="fa fa-comments"></i>  Noticias Recientes</h5> -->
      <!-- Foot Item Content -->
      <!-- <div class="foot-item-content"> -->
      <!-- <ul class="list-unstyled"> -->
      <!-- {% for post in site.posts limit: 5 %} -->
      <!-- Link -->
      <!-- <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li> -->
      <!-- {% endfor %} -->
      <!-- </ul> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-building-o"></i> Contáctenos</h5>
          <!-- Foot Item Content -->
          <div class="foot-item-content address">
            <!-- Heading -->
            <h6 class="bold"><i class="fa fa-home"></i> Fundación Mamá Sena</h6>
            <!-- Paragraph -->
            <p class="add">
              Calle Paco Saviñón No. 64, Fantino <br />Sánchez Ramírez, R.D.
            </p>
            <p class="tel">
              <i class="fa fa-phone"></i><b>Digna Adames</b>, Tel:
              (809)-(855)-2623
            </p>
            <p class="tel">
              <i class="fa fa-phone"></i><b>María Adames</b>, Tel:
              (809)-(610)-2595
            </p>
            <p class="mail">
              <i class="fa fa-envelope"></i
              ><a href="mailto:fundacionmamasena@gmail.com"
                >fundacionmamasena@gmail.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Foot Ends -->

<!-- Footer Starts -->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
    <!-- Paragraph -->
    <p class="pull-left">
      Copyright 2015 - <a href="/">Fundación Mamá Sena</a>, brought to you by
      <b
        ><a
          href="https://github.com/orgs/fundacionmamasena/teams/devteam"
          target="_blank"
          >FMS DevTeam</a
        ></b
      >
    </p>
    <ul class="list-inline pull-right">
      <!-- List -->
      <li><a href="{{ site.baseurl }}/">Inicio</a></li>
      <li><a href="{{ site.baseurl }}/nosotros.html">Sobre Nosotros</a></li>
      <li><a href="{{ site.baseurl }}/noticias.html">Noticias</a></li>
      <li><a href="{{ site.baseurl }}/contactos.html">Contactos</a></li>
      <li>
        <a href="{{ site.baseurl }}/preguntas.html">Preguntas Frecuentes</a>
      </li>
    </ul>
    <!-- Clearfix -->
    <div class="clearfix"></div>
  </div>
</footer>
