<header>
    <!-- Outer Starts -->
    <div class="outer">

      <!-- Top bar starts -->
      <div class="top-bar">
        <div class="container">

          <!-- Contact starts -->
          <div class="tb-contact pull-left">
                <!-- Email -->
                <i class="fa fa-envelope color"></i> <a href="mailto:fundacionmamasena@gmail.com">fundacionmamasena@gmail.com</a>
          </div>
          <!-- Contact ends -->

          <!-- Social media starts -->
          <div class="tb-social pull-right">
            <div class="brand-bg text-right">
              <!-- Brand Icons -->
              <a href="https://www.facebook.com/fundacionmamasena" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
              <a href="https://www.instagram.com/fundacionmamasena" class="instagram"><i class="fa fa-instagram square-2 rounded-1"></i></a>
              <a href="#" class="youtube"><i class="fa fa-youtube square-2 rounded-1"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-rss square-2 rounded-1"></i></a>
            </div>
          </div>
          <!-- Social media ends -->

          <div class="clearfix"></div>
        </div>
      </div>

      <!-- Top bar ends -->

      <!-- Header two Starts -->
      <div class="header-2">

        <!-- Container -->
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <!-- Logo section -->
              <div class="logo">
                <h1><a href="/">{{site.acronym}}</a></h1>
              </div>
            </div>
            <div class="col-md-9">

              <!-- Navigation starts.  -->
              <div class="navy">
                <ul>
                  <!-- Main menu -->
                  <li><a href="/">Inicio</a></li>
                  <li><a href="{{site.baseurl}}/nosotros.html">Sobre Nosotros</a></li>
                  <li><a href="{{site.baseurl}}/objetivos.html">Objetivos <i class="fa fa-angle-down "></i></a>
                      <ul>
                          <li><a href="{{site.baseurl}}/objetivos.html#mision">Misión</a></li>
                          <li><a href="{{site.baseurl}}/objetivos.html#vision">Visión</a></li>
                      </ul>
                  </li>
                  <li><a href="{{site.baseurl}}/programas.html">Programas</a></li>
                  <li><a href="{{site.baseurl}}/galeria.html">Galería</a></li>
                  <!-- <li><a href="{{site.baseurl}}/actividades.html">Actividades</a></li> -->
                  <li><a href="{{site.baseurl}}/contactos.html">Contactos</a></li>
                  <!-- <li><a href="{{site.baseurl}}/preguntas.html">Preguntas Frecuentes</a> -->
                </ul>
              </div>
              <!-- Navigation ends -->
              <div class="clearfix"></div>

            </div>

          </div>
        </div>
      </div>
  </header>
