<!-- Social media sharing section -->
<div class="well">
  <span class="bold">Comparte en tus redes: </span> &nbsp; &nbsp;
  <span class="brand-bg">
    <a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
      title="Compartir en Facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
      rel="nofollow" target="_blank" title="Compartir en Twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
    <a class="google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
      title="Compartir en Google+"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
  </span>
</div>
