---
---

---
new_page_extension: md
auto_deploy: false
admin_path:
webhook_url:
sections:
  - type: directory
    path: _uploads
    label: Uploads
    create: all
    match: "**/*"
  - type: jekyll-posts
    label: Posts
    create: all
    match: "**/*"
  - type: jekyll-pages
    label: Pages
    create: all
  - type: directory
    path: _data
    label: Data
    create: none
    match: "**/*.{json,yaml,yml}"
upload_dir: uploads
public_path: "/uploads"
front_matter_path: "/uploads"
use_front_matter_path: false
file_template: ":year:/:month:/:day:/:filename:"
